.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.1s ease;

    &.primary {
        background-color: rgb(255, 9, 54);
        color: white;
    }

    &:active {
        transform: scale(0.98);
    }
}